<footer class="footer">
    <div class="container footer__container">

        <div class="logo logo__footer">
            <a href="#" class="logo-link">macaroons</a>
        </div>
        <div class="footer_rights">Все права защищены, 2020</div>

        <div class="footer__wrapper-insta">
            <a href="https://vk.com/" target="_blank" class="footer__wraper-link">
                <img class="insta" src="../assets/img/vk.png" alt="instagram">
            </a>
            <a href="{{VkLink}}" target="_blank" class="footer__wraper-link">
                <div class="insta__text" data-t>Мы во ВКонтакте</div>
            </a>
        </div>
        <div class="phone phone__footer">
            <a class="phone__link" href="tel:{{formattedPhoneNumber}}">{{phoneNumber | phoneFormat}}</a>
        </div>
    </div>
    <div class="gift gift-wrapper" *ngIf="showPresent">
        <div class="gift__img" appBtnHover defaultBackground="linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%)" 
        hoverBackground="linear-gradient(90deg, rgb(215, 72, 92) 0%, rgb(113, 8, 30) 100%)" >
            <div class="circle-cart">{{cartService.count}}</div>
            <img class="gift__img-img" src="../assets/img/cart.png" alt="Gift">
            <div class="popup">
               <span class="popup-price">{{cartService.totalPrice.toFixed(2) + ' руб.'}}</span> 
            </div>
        </div>
    </div>
    
</footer>