.change__item {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 26px;
    position: relative;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    width: 263px;
    height: 229px;
    padding: 109px 21px 27px;
}

.change__img {
    position: absolute;
    top: -59px;
    left: 34px;
}

.change__item:hover .change__img-img {
    transform: scale(1.1);
}

.change__img-img {
    width: 100%;
    transition: all 300ms ease-in;

}

.change__title {
    font-size: 18px;
    font-family: "Tavolga";
    color: rgb(255, 255, 255);
}

.change__action {
    display: grid;
    justify-items: center;
    grid-column-gap: 30px;
    grid-template-columns: fit-content(85px) fit-content(130px);
}

.change__action-unit {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.change__action-price {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 15px;
    font-family: "Gilroy";
    color: rgb(255, 255, 255);
}

.change__action-button {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


.change__action-btn {
    font-size: 16px;
    width: 130px;
    height: 50px;
    /* padding: 19px 19px 20px; */
}